@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

   <h2>This Project helps to understand the MVC architecture and perform basic CRUD operations using EF Core </h2>
   <h3>Learning project </h3>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
